/*************************************************************/
/*=================== Image Background ======================*/
/*************************************************************/
body {
    background: url(../background.webp) no-repeat center;
    background-size: cover;
   }
 
